<h1 id="addCarHeader">Incoming Car</h1>

<form class="form-inline" id="addCarForm" name="controller.addForm" ng-submit="controller.addForm.$valid && controller.save()">

   
   

    <div class="addCarDiv">
        <label class="control-label">
            Empty or Loaded:
        </label>
        <span class="addCarSpan">
            <select required class="form-control" id="emptyOrLoaded"  name="emptyOrLoaded" ng-model="controller.newCar.emptyOrLoaded">
                <option value=""></option>
                <option value="Empty">Empty</option>
                <option value="Loaded">Loaded</option>
            </select>
        </span>
    </div>

    <div class="addCarDiv">
        <label class="control-label">
            Car Type:
        </label>
        <span class="addCarSpan">
            <select required class="form-control" id="carType" name="carType" ng-model="controller.newCar.cartype">
                <option value=""></option>
                <option value="Hopper">Hopper</option>
                <option value="Flatbed">Flatbed</option>
                <option value="Tank">Tank</option>
                <option value="Gondola">Gondola</option>
            </select>
        </span>
    </div>

    <div class="addCarDiv">
        <label class="control-label">
            Shipped By (UP or BNSF):
        </label>
        <span class="addCarSpan">
            <select required class="form-control" id="shippedBy" name="shippedBy" ng-model="controller.newCar.shippedBy">
                <option value=""></option>
                <option value="Union Pacific">Union Pacific</option>
                <option value="BNSF">BNSF</option>
            </select>
        </span>
    </div>

    <div class="addCarDiv">
        <label class="control-label">
            Railcar Number:
        </label>
        <span class="addCarSpan">
            <input required class="form-control" id="railcarText" pattern="(?=^.{1,10}$)^([A-Za-z]{1,4}\s*[0-9]{1,6})$" name="railCarNumber" ng-model="controller.newCar.railcarNumber" />
        </span>
    </div>
    <div class="addCarDiv">
        <input class="btn-success" id="addCarButton" type="submit" value="Submit and Add Another Car" /> 
        </div>
    <div class="addCarDiv">
        <input class="btn-warning" ng-click="controller.cancel()" id="cancelCarButton" type="button" value="Cancel"/>
    </div>
</form>
