body {
}
/* navbar */
.navbar-default {
    background-color: #27273d;
    border-color: #E7E7E7;
}
/* title */
.navbar-default .navbar-brand {
    color: #dcdce8;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #dcdce8;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #dcdce8;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #dcdce8;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #dcdce8;
    background-color:  #27273d;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #dcdce8;
    background-color:  #27273d;
}
/*Add Car Page*/
#addCarHeader {
margin-left: 190px;
padding-bottom: 10px;
padding-top: 50px;
}
#emptyOrLoaded {
width: 196px;
}
#carType {
width: 196px;
}
#shippedBy {
width: 196px;
}
.inline-fields {
display: inline-block;
}
label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: right;
    margin-top: 7px;
    margin-right: 7px;
}
input {
  display: inline-block;
  
}
.addCarDiv {
padding-bottom: 7px;

}
#addCarButton {
width: 375px;
height: 35px;
margin-left: 80px;
margin-top: 12px;
border-radius: 12px;
font-size: large
}
#cancelCarButton {
width: 375px;
height: 35px;
margin-left: 80px;
margin-top: 12px;
border-radius: 12px;
font-size: large
}
#addCarForm {
border:thin solid;
border-radius: 10px;
margin-right: 1300px;
padding-top: 30px;
padding-bottom: 30px;
margin-left: 50px;
}